.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav a {
  text-align: center;
  align-self: center;
  justify-self: center;
  margin: 1rem;
  color: #5e503f;
}

.active {
  font-weight: 700;
}
