* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 80vw;
  margin: 50px 0px;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #f2f4f3;
}
